/*rosso: #fc3d21;*/
/*blu:   #0b3d91;*/

@media screen and (min-width: 768px) and (max-width: 1080px) {
	body {
	padding-left: 3rem;
	padding-right: 3rem;
	}
}

@media screen and (min-width: 1080px) {
	body {
	padding-left: 3rem;
	padding-right: 3rem;
	}

	#main-content {
		max-width: 1200px;
		margin: 0 auto;
	}

	#main-header {
		max-width: 1200px;
		margin: 0 auto;
	}

	.categories-header {
		max-width: 1200px;
		margin: 0 auto;
	}

	#categories-content {
		max-width: 1200px;
		margin: 0 auto;
	}

	#article-content {
		max-width: 900px;
		margin: 0 auto;
	}
}

@font-face {
	font-family: 'untitled_sansregular';
    src: url('font/untitled_sans_regular-webfont.woff2') format('woff2'),
         url('font/untitled_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'untitled_sansregular';
	font-size: 14px;
	background-color: #f2f2f2;
	margin: 0px;
}

h1, h2, h3 {
	font-weight: normal;
	font-variant-ligatures: normal;
	font-variant-alternates: normal;
}

li {
	list-style: none;
}

#main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	height: 80px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

img.header_logo {
	width: 80px;
}

.header_pages {
	width: 60%;
	padding-left: 7rem;
}

.list_pages {
	padding: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-evenly;
	font-size: 16px;
}

.nav_topics {
	position: relative;
  	display: inline-block;
}

.nav_topics_toggle {
  	font-size: 16px;
  	border: none;
}

.nav_topics_dropdown {
	margin-left: -33.33%;
	margin-right: -33.33%;
	background-color: white;
	display: none;
	position: absolute;
  	z-index: 0;
}

.nav_topics_dropdown a {
	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
  	z-index: 1;
}

.nav_topics:hover .nav_topics_dropdown {
	display: block;
}

.header_search {
	width: 200px;
}

form.search_form {
	position: relative;
	margin-bottom: 0;
}

.search_input {
	width: 100%;
}

input.search_field {
	padding-right: 25px;
	width:100%;
	border: none;
	outline: none;
	text-align: right;
	padding-left: 0px;
	margin-left: 0px;
	font-size: 16px;
	background: none;
}

input.search_field::-webkit-search-cancel-button{
    display: none;    
}

div.search_submit_wrapper {
	position: absolute;
	top: 22%;
	right: 0;
}

input.search_submit {
	position: relative;
	margin: 0;
	padding: 0;
	width: 20px;
	background: transparent;
	border: none;
	color: transparent;
	cursor: pointer;
}

span.search_submit_arrow {
	font-size: 18px;
	position: absolute;
	top: -2;
	right: 0;
	pointer-events: none;
}

#main-footer {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	margin-left: -3rem;
	margin-right: -3rem;
	height: 200px;
	padding-top: 30px;
	padding-left: 3rem;
	padding-right: 3rem;
	background-color: #2b2b2b;
}

img.footer_logo {
	width: 120px;
}

p.nasa_description {
	font-size: 13px;
	margin-top: 25px;
	padding-left: 10px;
	line-height: 18px;
	color: #999999;
}

.footer_links {
	display: flex;
	margin-right: 3rem;
}

div.links_title {
	color: #999999;
	padding-bottom: 12px;
}

a.footer_links {
	color: white;
	padding-bottom: 8px;
	margin-right: 0;
}

#main-content {
	padding-top: 2rem;
	z-index: -1;
}

.news_top {
	display: flex;
	padding-bottom: 40px;
	padding-top: 20px;
}

h3.topic_article {
	font-size: 14px;
	margin: 0px;
	padding-top: 10px;
	color: #888888;
}

h3.topic_article.primary {
	padding-top: 15px;
}

h2.title_article {
	margin: 0px;
	padding-top: 10px;
	font-size: 18px;
	line-height: 22px;
	padding-right: 0.2rem;
	font-feature-settings: "salt" 1;
}

h2.title_primary {
	font-size: 32px;
	line-height: 2.6rem;
	padding-right: 5rem;
}

.news_top_left {
	width: 70%;
}

.article_primary {
	padding-left: 10px;
	padding-right: 10px;
}

div.article_primary_image {
	width: 100%;
}

img.img_primary {
	width: 100%;
}

.news_top_right {
	width: 30%;
}

/*Questa classe serve nel caso alla fine decidiamo di utilizzare
un'impostazione diversa, con più di un articolo nella colonna di destra*/
.row {
	width: 100%;
	display: flex;
}

.article_secondary {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 50px;
}

.article_secondary.top_right {
	padding-bottom: 30px;
	box-sizing: border-box;
}

div.article_secondary_image {
	width: 100%;
}

img.img_secondary {
	width: 100%;
}

.topics_banner {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 40px;
	padding-bottom: 45px;
	padding-left: 5px;
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
	font-size: 1.4rem;
}

.topics_list {
	padding-left: 0px;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.topics_explore {
	font-size: 1.3rem;
	padding-right: 20px;
	/*color: #888888;*/
}

.news-bottom {
	padding-top: 80px;
}

a {
	color: black;
	text-decoration: none;
}

a.topic_article {
	color: #888888;
}

a.topic_article:hover {
	text-decoration: underline;
}

.categories-header {
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

h1.categories_title {
	font-size: 60px;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}

.categories_types {
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
}

h2.categories_type {
	margin: 0;
	margin-top: 32px;
}

.categories_type.underline {
	border-bottom: 2px solid black;
}

h2.categories_type {
	margin-left: 30px;
}

#categories-content {
	display: flex;
	margin-top: 50px;
}

div.categories_filter {
	width: 20%;
	margin-left: 10px;
}

h2.categories_filter_topics {
	margin: 0px;
}

div.categories_filter_related {
	margin-top: 50px;
}

div.categories_news {
	width: 80%;
}

div.button_showothers {
	text-align: center;
	margin-bottom: 40px;
}

#article-content {
	margin-top: 60px;
	padding-left: 7rem;
	padding-right: 7rem;
}

h1.article_title {
	margin: 0;
	padding-top: 15px;
	font-size: 40px;
}

.gallery {
	margin-top: 40px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.slide_wrapper {
	width: 100%;
	display: flex;
	transform: translate3d(0, 0, 0);
	transition: 500ms;
}

.gallery_row {
	width: 100%;
	flex-shrink: 0;
}

.image_wrapper {
	width: 100%;
	display: block;
}

img.image_content {
	width: 100%;
	height: auto;
}

.caption {
	display: flex;
	justify-content: space-between;
}

.caption_text {
	padding-top: 10px;
	padding-right: 8rem;
}

.gallery_nav {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
}

.gallery_nav_prev {
	left: 0;
	cursor: url('content/prev.svg'), pointer;
}

.gallery_nav_next {
	right: 0;
	cursor: url('content/next.svg'), pointer;
}

p.gallery_caption {
	display: inline;
	font-size: 13px;
	line-height: 18px;
	
}

p.gallery_caption.credit {
	color: #888888;
}

p.caption_index {
	margin: 0;
	padding-top: 5px;
	font-size: 14px;
	letter-spacing: 5px;
}

p {
	font-size: 18px;
	line-height: 26px;
}

div.article_more {
	display: flex;
	margin-top: 100px;
	padding-bottom: 80px;
	border-bottom: 1.5px solid black;
}

div.article_more_info {
	width: 50%;
}

h3.article_more {
	margin: 0;
}

h3.article_more.lastupd {
	margin: 0;
	padding-top: 8px;
}

div.article_more_tags {
	width: 50%;
}

a.tags:hover {
	text-decoration: underline;
}

footer.article_related {
	margin-top: 80px;
	margin-bottom: 200px;
}

div.article_secondary.related {
	padding-left: 0px;
	padding-right: 0px;
}

div.article_secondary.related:nth-of-type(2) {
	margin-left: 10px;
	margin-right: 10px;
}















